---
import Layout from '../layouts/Layout.astro'
import { Button } from '@nextui-org/react'
---

<Layout title="">
  <main>
    <section class="w-full h-screen bg-primary-600"></section>
    <section class="w-full h-screen bg-primary-200"></section>
    <section class="w-full h-screen bg-primary-900"></section>
    <section class="w-full h-screen bg-primary-400"></section>
    <section class="w-full h-screen bg-primary-100"></section>
  </main>
</Layout>
