---
import Layout from '@/layouts/Layout.astro'
import Form from '@/components/Form'
import SlideShow from '@/components/SlideShow'
import Cases from '@/components/Card'
---

<Layout title="">
  <main>
    <section
      class="w-full h-[calc(100vh-4rem)] flex justify-center items-center sepia-[25%] bg-[url('/main/bg.webp')] bg-cover bg-center bg-no-repeat"
    >
      <div
        class="grid grid-cols-4 auto-rows-max grid-flow-row gap-3 sm:gap-5 backdrop-blur-md bg-primary-800 bg-opacity-40 p-5 sm:p-10 lg:p-[5rem] text-primary-200 font-bold"
      >
        <span class="text-base lg:text-xl">起始</span>
        <h2 class="text-3xl md:text-4xl lg:text-5xl col-span-4 text-center">源自鶯歌的陶瓷酒瓶</h2>
        <span class="text-right col-end-5 text-base md:text-xl col-span-2">EVERCERA</span>
      </div>
    </section>
    <section class="w-full h-[75vh] bg-primary-300 text-primary-200 relative overflow-hidden">
      <div
        class="w-full h-full sepia-[25%] opacity-25 grayscale bg-[url('/main/all-jars.jpg')] bg-cover bg-center bg-no-repeat absolute"
      >
      </div>
      <div
        class="w-full absolute translate-x-1/4 sm:translate-x-1/3 top-0 z-10 h-full bg-primary-700 -skew-x-12"
      >
      </div>
      <div
        class="absolute left-[35%] sm:left-[45%] top-0 z-10 w-3/5 sm:w-1/2 h-full flex justify-center flex-col"
      >
        <h2 class="font-bold text-2xl sm:text-5xl mb-5">建國路最早的窯廠</h2>
        <p>
          1950 年代林文雄在金敏窯業製作碗盤。
          <br />
          <br />
          1972 年成立兆富陶瓷，生產馬祖紀念酒瓶等主要產品，迄今超過 50 年，
          <br />
          以一貫化的生產流程製造酒瓶，現在由第二代持續經營，是臺灣陶瓷紀念酒瓶的重要製造者。
        </p>
      </div>
    </section>
    <section
      class="w-full flex flex-col items-center justify-evenly h-[80vh] bg-primary-400 text-primary-800 relative overflow-hidden"
    >
      <div
        class="hidden sm:block w-1/3 absolute left-[5%] top-0 z-20 h-full bg-primary-400 skew-x-6"
      >
      </div>
      <div class="static sm:absolute z-10 right-0 w-full sm:w-2/3">
        <SlideShow client:only="react" />
      </div>
      <div
        class="px-3 sm:absolute left-3 lg:left-[5%] top-0 z-30 w-full sm:w-1/3 lg:w-1/4 h-auto sm:h-full flex justify-center flex-col"
      >
        <h2 class="font-bold mb-5 flex flex-row md:flex-col justify-center">
          <span class="block text-xl sm:text-2xl lg:text-4xl mb-0 lg:mb-3">屹立 50 年的</span>
          <span class="block text-right text-4xl sm:text-5xl lg:text-6xl">酒瓶王國</span>
        </h2>
        <p>
          我們並重視存放的長遠意義，
          <br />
          時刻謹記著我們是繼續陶瓷工藝的傳承者，
          <br />
          為酒的陳年而努力。
          <br />
          <br />
          對我們來說，陶瓷不僅僅是一種材料，
          <br />
          它同時也是一種傳達藝術和文化的媒介。
          <br />
          <br />
          在廣闊的釉色中，你可以看到我們的理想與熱情。
        </p>
      </div>
    </section>
    <section class="w-full bg-primary-200 text-primary-700">
      <div class="w-2/3 mx-auto flex justify-center flex-col py-[5rem]">
        <h2 class="font-bold text-5xl mb-5 text-center">合作案件</h2>
        <Cases client:visible />
      </div>
    </section>
    <section
      class="w-full bg-primary-900 grid grid-cols-1 sm:grid-cols-5 px-5 py-[5rem] md:grid-cols-4"
    >
      <div
        class="flex justify-center items-center flex-col col-span-1 sm:col-span-3 md:col-span-2 sm:col-start-2 md:col-start-2"
      >
        <h2 class="font-bold text-5xl text-primary-500 mb-5">與我們聯繫</h2>
        <Form client:visible />
      </div>
    </section>
  </main>
</Layout>
